body {
  color: #519975;
  background: #211d1b;
}

#terminal::before {
  color: #519975;
  content: "visitor@fkcodes.com:~$";
  margin: 0;
  padding: 0;
}

p {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;

  animation: typing 0.5s steps(30, end);
}

textarea {
  color: #519975;
  background-color: #211d1b;
  left: 170px;
  position: absolute;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  display: inline-block;
  resize: none;
  overflow-y: hidden;
}
