body {
  color: #519975;
  background: #1d1612;
  font-family: cursor, monospace;
  padding-left: 1.5%;
  white-space: nowrap;
  font-size: 100%;
}
#mainText {
  margin-bottom: 5px;
}
#startText {
  color: #dcdccc;
}
#underBanner {
  color: #dcdccc;
}
#notFound {
  color: #dcdccc;
}
#terminal::before {
  color: #519975;
  content: "guest@adamrohr.com~$";
  width: 100%;
  margin: 0;
  right: 20%;
}
#commandText {
  color: #00b8be;
  text-shadow: 0 0 5px #73abad;
}
#emailText {
  color: #00b8be;
}
#welcomeText {
  padding-bottom: 40px;
  margin-bottom: 10px;
}
p {
  display: block;

  margin: 0;
  overflow: hidden;
  white-space: pre;
  margin: 0;
  animation: typing 1s steps(30, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
textarea {
  color: #00b8be;
  background-color: #1d1612;
  position: absolute;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  display: inline-block;
  resize: none;
  overflow-y: hidden;
  size: 150%;
}
